.header {
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: -10px;
    background-color: rgb(240, 240, 240);
    font-family: "Lato", sans-serif;
    font-size: 210%;
}

 
